body{
    padding: 0;
    margin: 0;
}

*{
    outline: none;
}

#wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #027b11;

    &::before{
        content: '';
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: radial-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.5));
        z-index: 1;
    }

    // &::after{
    //     content: '';
    //     position: absolute;
    //  <div class="card"></div>   height: calc(100vh - 20px);
    //     width: calc(100% - 20px);
    //     border: 10px solid white;
    //     z-index: 2;
    // }

    #bgs{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0; left: 0;
        display: flex;
        flex-wrap: nowrap;
        .suitsbg{
            height: 100vh;
            width: 25%;
            background: no-repeat center center;
            background-size:50%;
            opacity: .1;
        }
        .suitsbg:nth-child(1){
            background-image: url('../assets/svg/spade.svg');
        }
        .suitsbg:nth-child(2){
            background-image: url('../assets/svg/heart.svg');
        }
        .suitsbg:nth-child(3){
            background-image: url('../assets/svg/club.svg');
        }
        .suitsbg:nth-child(4){
            background-image: url('../assets/svg/diamond.svg');
        }
    }
    #poker-table{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        top: 0; left: 0;
        z-index: 10;
    }

    #content{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: auto;
        top: 0; left: 0;
        z-index: 10;
    }
}