#blast{
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-filter: blur(5px);

    #winner{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 20%;
        h1{
            font-size: 150px;
            margin: 0px;
        }
    }

    #blast1{
        position: absolute;
        left: 0px;
        bottom: 0px;

    }
    #blast2{
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
    button{
        position: absolute;
        z-index: 99999;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .redFlash{
        color: $red;
        text-shadow: 5px 5px 20px $red;
        transition: .1s all ease-in-out;
    }

    .whiteFlash{
        color: white;
        text-shadow: 5px 5px 20px white;
        transition: .1s all ease-in-out;
    }
}